#menu {
    background: #050a17;
    height: 10vh;
  }
  
  #menu .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
  
  #menu div img {
  
  }
  
  #menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  #menu nav a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  #menu nav a:hover {
    color: #0dab76;
  }
  
  